#foto1{
	width: 158px;
	height: 194px;
}
#page{
	width: 100%;
	text-align: center;
	padding: 70px 0px 20px 0px;
	background-color: #dbdbdb;
}
#benner{
	padding: 20px 0px 10px 0px;
	text-align: center;
}
#benner img{
	width: 80%;
	height: 50%;
}
#benner1{
	padding: 20px 0px 100px 0px;
	text-align: center;
}
#benner1 img{
	width: 70%;
	height: 50%;
}
#gambar0{
	width: 50%;
	float: left;
}
@media (max-width: 700px) {
	#gambar0{
		width: 100%;
	}
	#logokami{
		text-align: center;
	}
	.gambar0{
		width: 100%;
		float: none;
	}
}
#layout{
	font-family: sans-serif;
	width: 80%;
	margin: 0px 10% 0px 10%;
}
#layout1{
	font-family: sans-serif;
	width: 70%;
	margin: 0px 15% 0px 15%;
}
#gambar1{
	padding: 20px 0px 0px 0px;
}
#gambar1 img{
	width: 100%;
}
#gambar1 h2{
	position: absolute;
	top: 1080px;
	color: white;
	text-align: center;
}
#layout h1{
	padding: 110px 0px 0px 0px;
}
#gambar2{
	padding: 40px 0px 0px 0px;
}
#gambar2 img{
	float: right;
	width: 49%;
	padding: 0px 0px 0px 20px;
}
#p {
	color: #898989;
}
#gambar3{
	padding: 100px 0px 0px 0px;
}
#gambar3 img{
	padding: 30px 20px 0px 0px;
	width: 49%;
	float: left;
}
#h2{
	padding: 40px 0px 0px 0px;	
}
#h22 {
	padding: 90px 0px 0px 0px;	
}
#h222 {
	padding: 180px 0px 0px 0px;	
}
#foto{
	top: 0px;
	width: 158px;
	height: 194px;
	padding: 0px 0px 0px 0px;
}
#padding{
	padding: 0px 0px 20px 0px;
}
#font-leader{
	font-size: 18px;
}
#font-leader1{
	font-size: 14px;
	text-align: justify;
}
#table1{
	padding: 0px 0px 0px 40px;
}
#table2{
	padding: 0px 40px 0px 0px;
}
#kebijakan-h2{
	padding: 50px 0px 0px 0px;
}
#gambar-utama{
	width: 100%;
	padding: 30px 0px 0px 0px;
	position: revert;
}
#persetujuan-text{
	text-align: center;
	position: absolute;
	color: white;
	top: 290px;
	left: 18%;
	right: 18%;
}
#persetujuan-text-p{
	font-size: 15px;
}
